<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
</head>
<body>
        <%- include ('menu.ejs'); %>
        <nav class="container">
                <div>
            <h4 class="text-center">Данные хранящиеся в БД</h4>
            <table class="table">
                    <tr><th>id</th><th>Имя</th><th>Возраст</th><th>Дата добавления/изменения</th></tr>
                    <% for(let key in user){ %>
                        <tr>
                            <% var d = user[key].dat.getDate() %>
                            <% var m = user[key].dat.getMonth()+1 %>
                            <% var y = user[key].dat.getFullYear() %>
                            <% var id = user[key].id %>
                            <% var name = user[key].name %>
                            <% var age = user[key].age %>
                            <td><%= id %></td>
                            <td><%= name %></td>
                            <td><%= age %></td>
                            <td><%= d+"-"+m+"-"+y %></td>
                            <td><a href="/edit/<%= id + '/' + name + '/' + age %>">Редактировать</a></td>
                            <td><a href="/delete/<%= id %>">Удалить</a></td>                   
                        </tr>
                    <% } %>
                </table>
                </div>
            </nav>
</body>
</html>